<template>
  <div class="home">
    <header class="container-fluid header">
      <div class="container">
        <div class="row">Тестовое задание</div>
      </div>
    </header>
    <div class="text-center">
      <button class="retry" @click="getLinksForWorks" v-if="loadIsFailed">
        Загрузить данные
      </button>
    </div>
    <div class="container">
      <div class="preloader-wrap" v-show="isLoading">
        <div class="preloader"></div>
      </div>
      <ul class="row">
        <!-- Подгружаем элементы со ссылками на модальное окно -->
        <template
          v-for="(link, index) in links" 
        >
          <work-preview :data="link" :key="index"/>
        </template>
      </ul>
    </div>
    <!-- Подгружаем модальные окна -->
    <template
      v-for="(link, index) in links"
    >
      <work-modal :data="link" :key="index"/>
    </template>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapActions } from 'vuex'
import * as CON from '../constants'
import WorkPreview from '@/components/WorkPreview.vue'
import WorkModal from '@/components/WorkModal.vue'

export default {
  name: 'home',
  components: {
    'work-preview': WorkPreview,
    'work-modal': WorkModal,
  },
  computed: {
    ...mapGetters({
      getAllLinks: 'getAllLinks',
      getAllWorks: 'getAllWorks'
    }),
    links() {
      // Отображаем только те, у которых visible === true
      return this.getAllLinks.entities.filter(el => el.relationships.work.visible)
    },
    loadIsFailed() {
      return this.links.status === CON.FAILED
    },
    isLoading() {
      let statuses = [
        this.getAllLinks.status,
        this.getAllWorks.status
      ]

      return statuses.some(status => {
        return status === CON.PENDING
      })
    }
  },
  methods: {
    ...mapActions({
      getLinksForWorks: 'getLinksForWorks'
    })
  }
}
</script>
