<template>
  <div class="modal fade" tabindex="-1" role="dialog"
    :class="calculateUniqueClass"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            {{ data.relationships.work.title }}
          </h4>
        </div>
        <!-- Если пришло что-то, и не указан тип html - загружаем все текстом -->
        <div v-if="thisWork">
          <div class="modal-body" v-if="thisWork.attributes.datatype !== 'html'">
            {{ thisWork.attributes.text }}
          </div>
          <!-- Если пришел HTML - возвращаем распарсенный HTML без скриптов -->
          <div 
            v-html="jsEscape" class="modal-body" 
            v-if="thisWork.attributes.datatype === 'html'"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { stripScripts } from '@/utils/utils'
export default {
  props: {
    data: Object
  },
  computed: {
    // Забираем нужную нам работу из стора
    thisWork() {
      let result = undefined

      let filter = this.$store.state.laboratory.works.entities.filter(el => el.id === this.data.id)

      if ( filter.length ) {
        result = filter[0]
      }

      return result
    },
    jsEscape() {
      // TODO убить js на ивентах (onclick, onfocus, onload, ...)

      // Защита от дурака (удаляем все теги script из кода для защиты данных пользователя)
      // from utils
      return stripScripts( this.thisWork.attributes.text )
    },
    calculateUniqueClass() {
      // Присваиваем модальному окну уникальный класс
      return 'bs-example-modal-lg' + this.data.id
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-body {
  max-height: 80vh;
  overflow-y: auto;
}
</style>