<template>
    <li class="col-md-4 work-preview__wrap" @click="loadWork">
      <div class="work-preview">
        <p>
          {{ data.relationships.work.title }}
        </p>
      </div>
    </li>
</template>

<script>
export default {
  props: {
    data: Object
  },
  methods: {
    loadWork() {
      // Axios возвращает промис
      this.$store.dispatch('getWork', {
        url: this.data.attributes.url,
        workId: this.data.id
      })
      .then(() => {
        // Показываем модалку, когда пришли данные
        $('.bs-example-modal-lg' + this.data.id).modal('toggle')
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  
</style>