body {
    overflow-x: hidden;
}

ul {
    padding-left: 0;
}

.header {
    background-color: #4975a8;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
}

.work-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 1px solid rgba(black, .2);
}

.work-preview__wrap {
  list-style: none;
  padding: 15px;
}

.preloader-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  border-left: 10px solid rgba(#4975a8, 1);
  border-top: 10px solid rgba(#4975a8, .2);
  border-right: 10px solid rgba(#4975a8, .2);
  border-bottom: 10px solid rgba(#4975a8, .2);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}