<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import * as CON from './constants'
import { setDocumentTitle } from './utils/utils'

export default {
  created() {
    // Сразу загружаем все ссылки
    this.$store.dispatch('getLinksForWorks')
  },
  mounted() {
    // from utils
    setDocumentTitle('Документы')
  }
}
</script>

<style lang="scss">
@import './assets/styles.scss';
</style>
